.vscode/
c/lib/
c/out/
lib/
include/freeconf/meta.h
meta_decoder.c
python/fc/__pycache__/
meta.c
freeconf.h
fc_meta.c
fc_unpack_fc_meta.c
python/fc/meta.py
python/fc/unpack_meta.py
python/fc/meta_decoder.py
meta_encoder.go
