#ifndef FC_META_H
#define FC_META_H

#include <stdbool.h>

typedef void* fc_datadef_ptr;

typedef enum fc_def_type_e
{
{{- range .Meta.DefinitionTypes }}
  {{ . | snake| uc -}},
{{- end }}
} fc_def_type;

{{ range .Meta.Definitions}}
typedef struct {{. | cDefType }}_s {{. | cDefType }};
{{- end}}

{{ range .Meta.Definitions}}
struct {{. | cDefType }}_s {
    fc_datadef_ptr parent;
{{- range .Fields }}
    {{. | cFieldType}} {{. | cName}};
{{- end }}
};
{{ end}}

#endif