#include <stdbool.h>

typedef void* datadef_ptr;

typedef enum def_type
{
{{- range .Meta.DefinitionTypes }}
  {{ . | snake| uc -}},
{{- end }}
} DefType;

{{ range .Meta.Definitions}}
typedef struct {{.Name | lc}} {{.Name}};
{{- end}}

{{ range .Meta.Definitions}}
struct {{.Name | lc}} {
    datadef_ptr parent;
{{- range .Fields }}
    {{. | ctype}};
{{- end }}
};
{{ end}}
